.asiverso {
    background-color: #191D1F;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 90px;

    &__list {
        display: none;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4.17vw;
        max-width: 840px;
        margin: 0 auto;
        margin-top: 36px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            max-width: 240px;
            img {
                width: 100%; 
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: #ffffff;
            font-size: 24px;
            border: none;
            padding-bottom: 5px;
            background: none;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            
            &--is-active {
                border-color: #ffffff;
            }
        }
    }
}