.filme {
    background-color: #191D1F;
    padding-top: 120px;
    padding-bottom: 120px;

    &__text {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        margin-bottom: 40px;
        
        &__sinopse {
            color: #fff;
            width: 100%;
            font-size: 24px;
            line-height: 32px;
        }

        &__ficha {
            width: 360px;

            h3 {
                color: #ffa500;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                color: #ebebfc;
                font-family: 'Rajdhani';
                
                span {
                    font-family: 'Rajdhani';
                    font-weight: 600;
                }
            }
        }
    }

    &__trailer {
        display: flex;
        justify-content: center;
        
        iframe {
            border-radius: 30px;
            aspect-ratio: 16 / 9;
        }
    }
}