@use 'variaveis';

.plus {
    background-color: #191D1F;
    color: #fff;
    padding-top: 90px;

    &__trivias {
        max-width: 840px;
        margin: 0 auto;
        &__item {
            padding-bottom: 16px;
            counter-increment: item;

            &__head {
                background-color: #323247;
                padding: 12px 40px;
                display: flex;
                .marker::before {
                    content: counter(item) ".";
                }
            }

            &__body {
                padding: 16px 40px;
            }
        }
    }
}