.rajdhani-regular {
    font-family: "Rajdhani", serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", serif;
    font-weight: 600;
    font-style: normal;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@mixin text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

@mixin text--big {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
}